* {
  padding: 0;
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=1806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_section {
  z-index: 9999;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-bottom: 1px solid rgb(10, 10, 10);
  background-image: linear-gradient(rgba(255, 255, 255, 0.881), rgba(252, 252, 252, 0.783));
}
.header_section img {
  width: 150px;
  height: 105px;
  object-position: 100%;
  cursor: pointer;
  filter: invert(100%);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
header .close_btn i {
  font-size: 2.5rem;
}
@media (width >= 850px) {
  header .close_btn i {
    display: none;
  }
}
header .close_btn {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 10px;
}

.hambuger_btn {
  align-self: center;
}
@media (width >= 850px) {
  .hambuger_btn {
    display: none;
  }
}

.hambuger_btn i {
  font-size: 2rem;
}

.hambuger_btn[aria-expanded=true] + .topnav_menu {
  translate: 0;
}

.header_btn {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.header_btn li {
  cursor: pointer;
}
@media (width < 850px) {
  .header_btn {
    flex-direction: column;
    justify-content: baseline;
  }
}

@media (width < 850px) {
  .topnav_menu {
    position: fixed;
    inset: 0;
    background: linear-gradient(to right, #a68a0f, #762889);
    padding: 1rem;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
    z-index: 9999;
  }
}

.home_section {
  display: flex;
  gap: 25px;
  margin: 2rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.image_content {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  min-width: 500px;
}
.image_content > img {
  object-fit: cover;
  flex: 0 1 auto;
}
.image_content > div {
  flex: 0 1 auto;
}
.image_content img {
  width: 450px;
  height: 500px;
}
@media (width < 900px) {
  .image_content img,
  .image_content div {
    width: 65%;
    height: 50%;
  }
  .image_content div {
    padding-block: 3rem;
  }
}

.quote_content {
  font-family: inherit;
  width: 450px;
  background-image: linear-gradient(90deg, rgb(177, 124, 124), rgb(71, 100, 47));
  height: 500px;
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px;
}
.quote_content button {
  width: 40%;
  height: 15%;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background: rgb(34, 28, 28);
  align-self: center;
  color: white;
}

.image_collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  gap: 10px 15px;
  box-sizing: border-box;
}
.image_collection img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  max-width: 100%;
}
@media (width <= 555px) {
  .image_collection {
    align-self: center;
  }
}

.video_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.video_content video {
  width: 75%;
  height: 75%;
  transform: translateX(17%);
}

.brands_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin-block: 1rem;
}
.brands_images img {
  width: 200px;
  height: 100px;
  transition: transform 0.65s ease-in-out;
}
.brands_images img:hover {
  transform: scale(1.25, 1.25);
  box-shadow: 0px 5px 20px 0px rgb(43, 42, 42);
}
@media (width <= 480px) {
  .brands_images img {
    width: 60%;
    margin: 1rem auto;
  }
}

.brand_video {
  display: flex;
  height: 500px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand_video video {
  align-self: center;
  width: 22%;
  height: 50%;
  object-fit: cover;
}
@media (width <= 900px) {
  .brand_video video {
    width: 50%;
  }
}

.about_us {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
.about_us .profile_details {
  max-width: 500px;
}
.about_us .profile_details p {
  word-spacing: 4px;
}
.about_us .profile_image img {
  border-radius: 50px 50px/50px 50px;
  width: 450px;
  height: 300px;
  object-fit: contain;
}
@media (width <= 500px) {
  .about_us p {
    width: auto;
  }
  .about_us .profile_image img {
    border-radius: none;
    width: 400px;
  }
}

@keyframes slides {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.swiper-container {
  height: auto;
  margin: 0;
  padding: 1.525rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  min-width: 200px;
}

.swiper-slide::after,
.swiper-slider::before {
  content: "";
  background: linear-gradient(90deg, rgb(113, 114, 114), rgb(26, 25, 25));
}

.swiper-wrapper {
  cursor: grab;
}

.swiper-wrapper h2,
.swiper-wrapper p {
  width: auto;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 350px;
  border-radius: 15px 50px/25px 50px;
  object-fit: cover;
}
@media (width <= 460px) {
  .swiper-slide img {
    width: 150px;
  }
}

.swiper-pagination-bullet-active {
  background-color: hsl(312, 50%, 50%);
}

.swiper-button-prev {
  color: hsl(53, 100%, 50%);
  top: 50%;
}

.swiper-button-next {
  color: hsl(53, 100%, 50%);
  top: 50%;
}

.contact_info {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem 4rem;
  justify-content: space-around;
  align-content: center;
}
.contact_info .personal_contact,
.contact_info .professional_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_info .social_media {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.contact_info .logo {
  display: flex;
  flex-direction: column;
}
@media (width <= 728px) {
  .contact_info .logo {
    order: 1;
  }
}

input,
label {
  display: block;
}

/*# sourceMappingURL=product.css.map */
